.game {
  width: 100%;
  height: 50%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  &__header {
    width: 100%;
    text-align: center;
  }

  &__player {
    width: 15%;
    margin: 0 15px;
  }

  &__moves {
    list-style: none;
    padding-left: 0;
  }

  &__move {
    padding: 15px 20px;
    border: 1px solid $belize-hole;
    border-bottom: 1px solid transparent;
    background-color: $peter-river;
    color: $white;
    text-transform: capitalize;

    &:last-child {
      border-bottom: 1px solid $belize-hole;
    }

    &--player {
      cursor: pointer;
    }

    &--active,
    &--player:hover {
      background-color: $belize-hole;
      transition: background-color 0.2s linear;
    }
  }

  &__results {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__overlay {
    opacity: 1;
    animation: 2s fadein;
  }

  &__restart {
    width: 150px;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    background-color: $orange;
    color: $white;
  }
}


