<div class="game">
    <div class="game__player">
      <h2 class="game__header"> Player </h2>
      <ul class="game__moves">
        <li ng-repeat="move in ::component.moves track by $index"
            ng-class="{
              'game__move--player': !component.result,
              'game__move--active': component.userMove === $index }"
            ng-click="!component.result && component.inputMove($index)"
            class="game__move">
            {{::move}}
        </li>
      </ul>
    </div>
    <div class="game__results"
         ng-class="{'game__overlay': component.result}">
      <p ng-switch="component.result" ng-show="component.result" class="results__copy">
        <span ng-switch-when="draw">It's a {{component.result}}...</span>
        <span ng-switch-default> You {{component.result}}!</span>
      </p>
      <button class="game__restart"
              ng-show="component.result"
              ng-click="component.restart()">
        Play Again
      </button>
    </div>
    <div class="game__player">
    <h2 class="game__header"> Computer </h2>
    <ul class="game__moves">
      <li ng-repeat="move in ::component.moves track by $index"
          ng-class="{'game__move--active':(component.computerMove === $index)}"
          class="game__move game__move--computer">
          {{::move}}
      </li>
    </ul>
</div>
