$white: rgba(255, 255, 255, 1.0);
$clouds: rgba(236, 240, 241, 1.0);
$emerald: rgba(46, 204, 113, 1.0);
$peter-river: rgba(52, 152, 219, 1.0);
$belize-hole: rgba(41, 128, 185,1.0);
$midnight-blue: rgba(44, 62, 80, 1.0);
$orange: rgba(243, 156, 18,1.0);

